<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-10-05T03:56:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/thanhnam/development/LibaryNam/Chat_Box_reactnative/ios/Chat_Box_reactnative.xcworkspace</string>
</dict>
</plist>
